.cover__text-title-link {
    text-decoration: none;
    color: white;
    display: grid;
    grid-template-columns: 1 1fr;
    grid-template-rows: 1 1fr;
    justify-items: center;
    align-items: center;
}
