.photo-grid__item {
  max-width: 100%;
}

/*
@media screen and (max-width: 800px) {
    .photo-grid__item {
      flex: 50%;
      max-width: 50%;
    }
}
  
@media screen and (max-width: 600px) {
    .photo-grid__item {
      flex: 100%;
      max-width: 100%;
    }
}
*/