.cover__overlay {
    object-fit: cover;
    max-width: 100%;
    grid-row: 1/1;
    grid-column: 1/1;
    background-color: #2A2C2F;
    opacity: 80%;
    transition: opacity .5s ease-in-out;
}

.cover__overlay:hover {
    opacity: 30%;
}