.footer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
    padding-left: 48px;
}

@media (max-width: 1023px) {
    .footer {
        padding-left: 24px;
    }
}

@media (max-width: 767px) {
    .footer {
        padding-left: 16px;
        flex-direction: column;
    }
}